# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Skills
.agents/skills/write-background-of-the-study/
.agents/skills/supporting-element/
.agents/skills/write-annotated-bibliography/

# Temporary / Scratch
scratch/
